<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	
	
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
	<title>Maven Visibility Tool</title>
</head>

<body>
	<div id="header">
		<div class="wrap">
			<h1 id="logo"><a href="/">MAVEN VISIBILITY TOOL</a></h1>
			<p><br />Your new best tool to monitor Maven projects.</p>
		
			<ul id="menu">
				{% block menu %}
				<li><a class="current" href="#">Projects</a></li>
<!--				<li><a href="#">Packages</a></li>
				<li class="last"><a href="#">Components</a></li>-->
				{% endblock menu %}
			</ul>
	
		</div>
	</div>


	<div class="wrap">
		{% block content %}
		
		{% endblock content %}
		
		
		{% block side %}
		
		
		{% endblock side %}
		
	
		<div id="footer">
			<p>Design: Pawel Kowalczyk - <a href="https://github.com/coval/mvisi">Maven Visibility Tool</a></p>
		</div>
	
	</div>	

<script type="text/javascript">
$(document).ready(function() {
    $("#button_refresh").click(function() {
		$( "#button_refresh").button( "option", "disabled", true );
		$( "#button_refresh").button( "option", "label", "Loading data ... " );
		$( "#button_refresh").button( "option", "icons", {primary:'ui-icon-gear'} );
		
		$.ajax({
		url: '/ajax/component/check/',
		data: {'component_id': comp_id },
		success: function(data) {
			//$(".loading_space").hide()
			//$('.result').html(data);
			location.reload();
            }
        });
    });

	$( "#button_refresh").button({ icons: {primary:'ui-icon-arrowrefresh-1-e'} });
	$( "#refresh_package").button({ icons: {primary:'ui-icon-arrowrefresh-1-e'} });

	
	$("#refresh_package").click(function() {
		$( "#refresh_package").button( "option", "disabled", true );
		$( "#refresh_package").button( "option", "label", "Loading data ... " );
		$( "#refresh_package").button( "option", "icons", {primary:'ui-icon-gear'} );
		
		$.ajax({
		url: '/ajax/package/check/',
		data: {'project_id': project_id, 'package_id': project_id },
		success: function(data) {
			//$(".loading_space").hide()
			//$('.result').html(data);
			location.reload();
            }
        });
    });
	
	
    
	
	
    $("#release_side ul li").hover(function() {
        var classes = $(this).attr("class");
        classes = classes.split(" ").join(",.");
        zm = "." + classes;
		$("#release_side ul li").removeClass("blue");
        $(this).addClass("blue");
        $("td").filter(".artid").removeClass("yellow");
		$("td").filter(".artid").filter(zm).addClass("yellow");
    });
	
	
	
 });
		
</script>


</body>
</html>