{% extends 'base.html' %}


{% block menu %}
		<li><a class="current" href="/">Projects</a></li>
<!--		<li><a href="#">Packages</a></li>
		<li class="last"><a href="#">Components</a></li>-->
{% endblock menu %}


{% block content %}
	
<div id="main">
	<h2><a href="/projects/">Component name: {{component.artifactId}}</a><span id="comp_version"> Version: {{component.version}}</span></h2>
	<div id="refresh_comp_button">
		<a id="button_refresh" href="#">Refresh available versions</a>
	</div>


	<div id="available-in-package" class="ui-widget-content ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">Available in packages:</h3>
		
		<p>
			<ul>
				{% for package in component.package.all %}
					<li>
						<a href="{{package.get_absolute_url}}">{{package}}</a>
					</li>
				{% endfor %}
			</ul>
		</p>
	</div>

	<div id="rel_note" class="ui-widget-content ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">SVN changes in this version:</h3>
		<div id="rel_note_content">
			<p>
				<ul>
				{% for elem in release_notes %}
					<li>{{ elem }}</li>
				{% endfor %}
				</ul>
			</p>
		</div>
	</div>
	
	<div id="other-components" class="ui-widget-content ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">Other versions of {{component.artifactId}}:</h3>
		<ul>
		{% for comp in component.get_other_versions %}
			<li>
				<a href="{{comp.get_absolute_url}}">{{ comp.version }}</a>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>


<div id="side" class="ui-widget-content ui-corner-all">
	<h3 class="ui-widget-header ui-corner-all">Component Info</h3>
	<ul>
		<li><a href="#"><strong>ArtifactId:</strong></a><br />{{component.artifactId}}</li>
		<li><a href="#"><strong>GroupId:</strong></a><br />{{component.groupId}}</li>
		<li><a href="#"><strong>Version:</strong></a><br />{{component.version}}</li>
		<li><a href="#"><strong>Tagged Revision:</strong></a><br />{{component.revision}}</li>
		<li><a href="#"><strong>Release Date:</strong></a><br />{{component.date}}</li>
		<li><a href="#"><strong>TagBase:</strong></a><br />{{component.get_tag_base}}</li>
	</ul>
</div>

<script type="text/javascript">
	var comp_id={{ component.id }}
</script>

{% endblock content %}





