{% extends 'base.html' %}


{% block menu %}
		<li><a class="current" href="/">Projects</a></li>
<!--		<li><a href="#">Packages</a></li>
		<li class="last"><a href="#">Components</a></li>-->
{% endblock menu %}


{% block content %}
	
<div id="main">

	<h2><a href="/projects/">Component name: {{component.artifactId}}</a><span id="comp_version"> Version: {{component.version}}</span></h2>
	<div id="refresh_comp_button">
		<a id="ref_but" href="{{component.get_absolute_url}}check/#">>>check available other versions<<</a>
	</div>

	<p><h3>Available in packages:</h3></p>
	
	<p>
		<ul>
			{% for package in component.package.all %}
				<li>
					<a href="{{package.get_absolute_url}}">{{package}}</a>
				</li>
			{% endfor %}
		</ul>
	</p>

	<h3>SVN changes in this version:</h3>

	<div id="rel_note">
		<p>
			<ul>
			{% for elem in release_notes %}
				<li>{{ elem }}</li>
			{% endfor %}
			</ul>
		</p>
	</div>
	
	<h3>Other versions of {{component.artifactId}}:</h3>
	<ul>
	{% for comp in component.get_other_versions %}
		<li>
			<a href="{{comp.get_absolute_url}}">{{ comp.version }}</a>
		</li>
	{% endfor %}
	</ul>
</div>


<div id="side">
	<ul>
		<li><a href="#"><strong>ArtifactId:</strong></a><br />{{component.artifactId}}</li>
		<li><a href="#"><strong>GroupId:</strong></a><br />{{component.groupId}}</li>
		<li><a href="#"><strong>Version:</strong></a><br />{{component.version}}</li>
		<li><a href="#"><strong>Tagged Revision:</strong></a><br />{{component.revision}}</li>
		<li><a href="#"><strong>Release Date:</strong></a><br />{{component.date}}</li>
		<li><a href="#"><strong>TagBase:</strong></a><br />{{component.get_tag_base}}</li>
	</ul>
</div>
		

{% endblock content %}





