{% extends 'base.html' %}


{% block menu %}
		<li><a class="current" href="/">Projects</a></li>
<!--		<li><a href="#">Packages</a></li>
		<li class="last"><a href="#">Components</a></li>-->
{% endblock menu %}

{% block content %}

<div id="main">
	<div class="package_header">
		<h2><a href="/projects/{{project.id}}/">Project name: {{project.name}}</a><span id=package_version>Package version: {{package.version}}</span></h2>
	</div>
	<div id="button_layer">
        <div id="refresh_button">
            <a id="refresh_package" href="#">Refresh dependencies</a>
        </div>
	</div>

	<div id="table-container" class="ui-widget-content ui-corner-all">
		<div class="comp_table">
			<table width="100%" cellspacing="0" cellpadding="0">
				<thead>
					<tr id="cel-top">
						<th>ArtifactId</th>
						{% if package.get_previous_package %}
							<th>Previous package<br /><a href="{{package.get_previous_package.get_absolute_url}}">({{ package.get_previous_package.version }})</a></th>
						{% endif %}
						<th>Current package<br />({{ package.version}})</th>
						{% if package.get_next_package %}
							<th>Next package<br /><a href="{{package.get_next_package.get_absolute_url}}">({{ package.get_next_package.version}})</a></th>
						{% endif %}
						<th>Newest<br />component version</th>
						
					</tr>
				</thead>
				<tbody>
				{% for component in components %}
				<tr class="{% cycle 'dark' 'light' %}">
					<td class="artid rn_{{component.id}}"><a href="{{component.get_absolute_url}}">{{ component.artifactId }}</a></td>
					{% if package.get_previous_package %}
						<td>{% ifequal component.version component.in_previous.version %}
							<center title="{{component.version}}">=</center>
							{% else %}
							<a href="{{component.in_previous.get_absolute_url}}">{{ component.in_previous.version }}</a>
							{% endifequal %}
						</td>
					{% endif %}
					
					<td class="artid rn_{{component.id}}">{{component.version}}</td>
					
					{% if package.get_next_package %}
						<td>{% ifequal component.version component.in_next.version %}
							<center title="{{component.version}}">=</center>
							{% else %}
							<a href="{{component.in_next.get_absolute_url}}">{{ component.in_next.version }}</a>
							{% endifequal %}
						</td>
					{% endif %}
					
		
					<td>{% if not component.get_newest_component.version %}
						<center title="{{component.version}}">=</center>
						{% else %}
						<a href="{{component.get_newest_component.get_absolute_url}}">{{ component.get_newest_component.version }}</a>
						{% endif %}
					</td>
				
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="right_release" class="ui-widget-content ui-corner-all">
	<h3 id="svn_changeset" class="ui-widget-header ui-corner-all">Changeset:&nbsp;&nbsp {{ package.get_previous_package }} -> {{ package }}</h3>
	<div id="release_side">
		<div class="tip_text">Tip: Move mouse pointer over the list</div>
		<ul>
		{% for elem, components in release_notes.items %}
			<li class="{% for component in components %}rn_{{component.id}} {% endfor %}"
				title="Commit from: {% for component in components %}{{component.artifactId}}:{{component.version}}
				{% endfor %}">
				{{ elem }}
			</li>
		{% endfor %}
		</ul>
	</div>
</div>

<script type="text/javascript">
	var project_id={{ project.id }}
	var package_id={{ package.id }}
</script>


{% endblock content %}





