{% extends 'base.html' %}


{% block menu %}
		<li><a class="current" href="/">Projects</a></li>
		<li><a href="#">Packages</a></li>
		<li class="last"><a href="#">Components</a></li>
{% endblock menu %}


{% block content %}

<div id="main">
	<div class="l">
		<h2>List of Projects</h2>
		
		<ul>
		{% for project in projects %}
			<li>
				<p><h3><a href="/projects/{{project.id}}/">{{ project.name }}</a></h3> 
					{{ project.description }}
				</p>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
		
		
<!--		<div id="side">
			<ul>
				<li><a href="#">Esse cillum dolore</a><br />Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
				<li><a href="#">Esse cillum dolore</a><br />Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
				<li><a href="#">Esse cillum dolore</a><br />Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
				<li><a href="#">Esse cillum dolore</a><br />Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			</ul>
		</div>-->


{% endblock content %}





