{% extends 'base.html' %}


{% block menu %}
		<li><a class="current" href="/">Projects</a></li>
		<li><a href="#">Packages</a></li>
		<li class="last"><a href="#">Components</a></li>
{% endblock menu %}

{% block content %}

	
<div id="main">
	<div class="l">
		<h2><a href="/projects/">Project name: {{project.name}}</a></h2>
		<a href="/projects/{{project.id}}/check/">>>>Check available packages<<<</a>
		<p><h3>List of Packages</h3></p>
		
		<ul>
		{% for package in packages %}
			<li>
				<h4><a href="/projects/{{project.id}}/packages/{{package.id}}/">{{ package.version }}</a></h4>
					{{ package.description }}
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
		
		
	<!--<div id="side">
		<ul>
			<li><a href="#">Esse cillum dolore</a><br />Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			<li><a href="#">Esse cillum dolore</a><br />Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			<li><a href="#">Esse cillum dolore</a><br />Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
			<li><a href="#">Esse cillum dolore</a><br />Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
		</ul>
	</div>-->



{% endblock content %}





