{% extends 'base.html' %}


{% block menu %}
		<li><a class="current" href="/">Projects</a></li>
<!--		<li><a href="#">Packages</a></li>
		<li class="last"><a href="#">Components</a></li>-->
{% endblock menu %}


{% block content %}

<div id="main">
	<div class="l">
		<h2>List of Projects</h2>
		
		<ul>
		{% for project in projects %}
			<li>
				<p><h3><a href="{{project.get_absolute_url}}">{{ project.name }}</a></h3> 
					{{ project.description }}
				</p>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
		
		
<div id="side" class="ui-widget-content ui-corner-all">
	<h3 class="ui-widget-header ui-corner-all">Info</h3>
	<ul>
		<li><a href="#">List of projects view.</a><br />Here you can see your delivery projects. You can use admin panel to add another project or edit current one.</li>
		<li><a href="#">Project</a><br />Project is a set of deployment units combined and binded in one maven pom.xml file as a dependencies.</li>

	</ul>
</div>


{% endblock content %}





