{% extends 'base.html' %}


{% block menu %}
		<li><a class="current" href="/">Projects</a></li>
<!--		<li><a href="#">Packages</a></li>
		<li class="last"><a href="#">Components</a></li>-->
{% endblock menu %}

{% block content %}

	
<div id="main">

	<h2><a href="/projects/">Project name: {{project.name}}</a></h2>
	<a id="refresh_project" href="#">Check available packages</a>
	<div id="package-list" class="ui-widget-content ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">List of Packages</h3>
		<div class="package_table">
			<table width="100%" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th><h3>Version</h3></th>
						<th><h3>Release Date</h3></th>
					</tr>
				</thead>
				<tbody>
					{% for package in packages %}
					<tr class="{% cycle 'dark' 'light' %}">
						<td>
							<h3><a href="{{ package.get_absolute_url }}">{{ package.version }}</a></h3>
						</td>
						<td>
							{{ package.get_svn_date }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
		

</div>
		
		
	<div id="side" class="ui-widget-content ui-corner-all">
		<h3 class="ui-widget-header ui-corner-all">Info</h3>
		<ul>
			<li><a href="#">Version of packages view</a><br />Here you can see released versions of project {{ project.name }}.</li>
			<li><a href="#">Maven repository</a><br />Released versions are saved in maven repository.</li>
			<li><a href="#">Check available packages</a><br />You can refresh this list by pushing this button.</li>
		</ul>
	</div>

<script type="text/javascript">
	var project_id={{ project.id }}
</script>


{% endblock content %}





